<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Survey</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages text-center">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        <h1 class="text-center mt-5">Update Customer Survey Data</h1>
        <form method="POST">
            <div class="mb-3">
              <label for="fullname" class="form-label">Full Name</label>
              <input type="text" class="form-control" name="fullname" id="fullname" value="{{ i[1] }}" aria-describedby="fullname" name="fullname">
            </div>
            <div class="mb-3">
              <label for="suggest" class="form-label">Give suggestion to our product</label>
              <textarea class="form-control" name="suggest" placeholder="Leave a comment here" id="floatingTextarea">{{ i[2] }}</textarea>

          </div>
            <div class="mb-3">
                <label for="rating" class="form-label">Give rating to our product</label>
                <select class="form-select" name="rating" aria-label="Default select example">
                    <option selected>{{ i[3] }}</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="4">Four</option>
                    <option value="5">Five</option>
                  </select>
            </div>
            <div class="mb-3">
              <label for="coming" class="form-label">How many times come to the cafe?</label>
              <div class="form-control">
              <input type="radio" class="btn-check" name="coming" value="{{ i[4] }}"  autocomplete="off">
              
              <input type="radio" class="btn-check" name="coming" value="0" id="danger-outlined" autocomplete="off">
              <label class="btn btn-outline-danger" for="danger-outlined">Never (0)</label>
              
              <input type="radio" class="btn-check" name="coming" value="1"  id="warning-outlined" autocomplete="off">
              <label class="btn btn-outline-warning" for="warning-outlined">Rarely (1)</label>
           
              <input type="radio" class="btn-check" name="coming" value="2"  id="info-outlined" autocomplete="off" >
              <label class="btn btn-outline-info" for="info-outlined">Occasionally (2)</label>
              
              <input type="radio" class="btn-check" name="coming" value="3"  id="primary-outlined" autocomplete="off" >
              <label class="btn btn-outline-primary" for="primary-outlined">Most of the time (3)</label>
              
              <input type="radio" class="btn-check" name="coming" value="4"  id="success-outlined" autocomplete="off" checked>
              <label class="btn btn-outline-success" for="success-outlined">All of the time (4)</label>
            </div>  
            </div>
            </div>
            <div class="text-center">
              <button  href="url_for('index')" class="btn btn-warning">Back to main</button>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
    </div>
    
       

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>